{% extends 'usercenter/lrfbase.html' %}
{% block content_html %}
        <div class="container-fluid content" >
          <div class="row">
            <div class="col-md-4 col-md-offset-4 change_pwd_box" style="margin-top:50px;">

             <div class="change_pwd">
              <div class="login_title">密码找回</div>
              <form action="{% url 'users:forget'  %}" method="post" autocomplete="off">
{#                    <div class="change_pwd-group">#}
{##}
{#                            <div class="captcha">#}
{#                                <input value="" name="change_captcha" id="change_captcha" class="captcha_input"#}
{#                                       placeholder="" autocomplete="off" type="text">#}
{#                                <span class="float_right change_get_captcha  get_note"#}
{#                                      id="get-captcha"#}
{#                                >获取验证码</span>#}
{#                            </div>#}
{##}
{#                        </div>#}
                    <div class="change_pwd-group">
                  <input type="text" name="cord" class="newpassword"  placeholder="验证码">
                </div>
                  <input  style="display:none;" name="email" value="{{ email }}">
                  <div class="change_pwd-group">
                  <input type="password" class="newpassword" name="password1" placeholder="新密码">
                </div>
                 <div class="change_pwd-group">
                  <input type="password" class="surenewpassword" name="password2" placeholder="确认密码">
                </div>
                <div class="change_pwd-group">
                 <button type="submit" class="btn_register">重置密码</button>
               </div>
                  <p>{% for key, error in resetpw_form.items %}
                                {{ error }}
                            {% endfor %}
                          {{ msg }}

                  </p>
                {% csrf_token %}
            </form>


          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
