{% extends 'usercenter/lrfbase.html' %}
{% block content_html %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 change_pwd_box" style="margin-top:50px;">

                <div class="change_pwd">
                    <div class="login_title">密码找回</div>
                    <form id ='mydata' action="{% url 'users:forgetcord' %}" method="post"
                     autocomplete="off" onsubmit="">
                        <div class="change_pwd-group">
                            <label class="sr-only" for="Email">Email address</label>
                            <input type="Email" class="username" name="email" id="email" value="{{ user.email }}" placeholder="邮箱或者手机号">
                        </div>

                        <div class="change_pwd-group">
                            <button type="submit" id="btn_register" class="btn_register">重置密码</button>
                        </div>
                        <p>{{ msg }}</p>
                      {% csrf_token %}
                    </form>


                </div>
            </div>

        </div>
    </div>
    </div>




{% endblock %}
