{% extends 'usercenter/lrfbase.html' %}
 {% block self_style%}
<style>
    .captcha{
        width: 120px;
        z-index: 1000;
        margin-left:-60px;

    }
    #id_captcha_1{
        display: inline-block;
        width: 170px;
    height: 40px;
    box-sizing: border-box;
    background-color: #f8f8f8;
            padding: 0 20px;
    float: left;
        margin-left: 70px;
    line-height: 20px;
    font-size: 12px;
    color: #aaa;
    border-radius: 25px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #f8f8f8;
        color: black;
    }
    #id_captcha_1:focus{
        background: #F5D220;
    }
    .register{
        height: 480px;
    }
</style>
 {% endblock %}
{% block content_html %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 loginbox" style="margin-top:50px;">


                <div class="register">
                    <div class="login_title">用户注册</div>
                    <form id="email_register_form" method="post" action="{% url 'users:register' %}" autocomplete="off">
                        <div class="register-group">
                            <input type="email" class="username" name="email" placeholder="邮箱">
                        </div>
                        <div class="register-group">
                            {{ register_form.captcha }}

                        </div>
                        <div class="register-group">
                            <input type="password" class="password" name="password" placeholder="登陆密码">
                        </div>


                         <p class="help-block">
                            {% for key, error in register_form_errors.items %}
                                {{ error }}
                            {% endfor %}
                            {% if not register_form_errors %} {{ msg }} {% endif %}

                        </p>
                        <div class="register-group">
                            <button type="submit" class="btn_register">注册</button>
                        </div>
                        <div class="tologin">
                            已有账号点此 <a class="gologin" href="{% url 'users:login' %}">立即登陆</a>
                        </div>
                        {% csrf_token %}
                    </form>


                </div>
            </div>

        </div>
    </div>
    </div>
    <script>
        $('#email_register_form .captcha').click(refresh_captcha);

        function refresh_captcha(event) {
            $.get("/captcha/refresh/?" + Math.random(), function (result) {
                $('#email_register_form .captcha').attr("src", result.image_url);
                $('#id_captcha_0').attr("value", result.key);
            });
            return false;
        }

    </script>
{% endblock %}


